# Configurações do WooCommerce
WOOCOMMERCE_URL=https://pharmaceuticasl.com.br
WOOCOMMERCE_CONSUMER_KEY=ck_3f0370415c05871ba3044fce566e1cd56807c357
WOOCOMMERCE_CONSUMER_SECRET=cs_64ebd29041f6ea4eadbd8fba79532132681724ad

# Configurações do WhatsApp Business API
WHATSAPP_API_URL=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_TARGET_PHONE=

# Configurações do Banco de Dados PostgreSQL
DATABASE_URL=postgresql://username:password@host:port/database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=mensagem_automatica
DB_USER=postgres
DB_PASSWORD=password

# Configurações do Sistema
CHECK_INTERVAL_MINUTES=15
MAX_ORDERS_TO_CHECK=10
PORT=3000
