# Configurações do WooCommerce
WOOCOMMERCE_URL=https://pharmaceuticasl.com.br
WOOCOMMERCE_CONSUMER_KEY=ck_5129ebb16c2da6a36a76b005bd5c8343bcf8227f
WOOCOMMERCE_CONSUMER_SECRET=cs_11137bb49a7975ad3fe69b4d62d8a1a095b519d9

# Configurações do WhatsApp Business API
WHATSAPP_API_URL=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_TARGET_PHONE=

# Configurações do Banco de Dados PostgreSQL
DATABASE_URL=postgresql://username:password@host:port/database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=mensagem_automatica
DB_USER=postgres
DB_PASSWORD=password

# Configurações do Sistema
CHECK_INTERVAL_MINUTES=15
MAX_ORDERS_TO_CHECK=10
PORT=3000
